.App {
  text-align: center;
  /* border: 10px solid green; */
}

.full-grid{
  display: flex;
  justify-content: center;
}
.single-grid{
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 1px solid red;
}